#meu-botao {
  background-color: #321EB1;

}
#meu-botao2 {
  background-color: #ffff;

}

#containerCadastro {

  background-color: #656AA6;
  width: auto;
  height: auto;

}

#botoes {
  background-color: #454545;
  align-items: center;
  height: 60px;
  width: 250px;
  border-radius: 20px;
  margin-left: 20px;
}
#img botoes {
  width: 10px;
}

#botoes2 {
  background-color: #321EB1;
  align-items: center;
  height: 60px;
  width: 250px;
  border-radius: 20px;
  margin-left: 20px;
}

#hr {
  height: 60px;
  width: 250px;
}
